.wrapper {
  width: 200px;
}

.select {
  width: 100%;
  padding: 0.75rem 1rem;
  border: none;
  border-radius: 8px;
  background-color: var(--input-bg, white);
  color: var(--text-color, #111517);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
  font-size: 0.9rem;
}