:root {
  --background: #ffffff;
  --foreground: #171717;
  --bg-color: #fafafa;
  --text-color: #111;
  --input-bg: #fff;
}

.dark {
  --background: #2b3945;
  --bg-color: #202d36;
  --text-color: #fff;
  --input-bg: #2b3945;
}



html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}


.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.filters {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3rem;
}

@media (min-width: 1280px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 900px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .grid {
    grid-template-columns: 1fr;
  }

  .filters {
    flex-direction: column;
    align-items:flex-start;
  }
}